/*
$gridCol: 55px;
$gridGutter: 20px;

< 480 - stretch to fill, no real grid layout.
480+ = 6 grid columns (5 gutters)
768+ = 9 grid columns (8 gutters)
992+ = 12 grid columns (11 gutters)

*/

#content {
    background:#fff url('images/grid.png') repeat 0px 0;
    background-size:75px 10px;
}
